.banner {
  width: 100%;
  position: relative;
}
.banner img {
  width: 100%;
  height: 100%;
}
.banner .banner-content {
  position: absolute;
  top: 20%;
  left: 15%;
}
.banner .banner-content span {
  display: block;
  color: var(--primary-color);
  font-family: var(--font-stack);
  font-size: 15px;
}
.banner .banner-content h1 {
  font-family: var(--font-family);
  font-size: 38px;
  color: var(--white-color);
  font-weight: 400;
  letter-spacing: 0px;
}
.banner .banner-content p {
  font-size: 15px;
  font-weight: 400;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.banner .banner-content .start {
  font-size: 15px;
  color: var(--secondary-color);
  display: inline-block;
}
.banner .banner-content .rupees {
  font-size: 20px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 30px;
}
.banner .banner-content a {
  display: block;
}

.btn {
  font-size: 13px;
  font-weight: 500;
  color: var(--white-color);
  text-transform: uppercase;
  background-color: rgba(168, 116, 26, 0.8);
  border-radius: 3px;
  padding: 15px 40px;
  transition: all 0.3s;
  width: 182px;
  border: 2px solid rgba(168, 116, 26, 0.8);
}

.secondary-btn {
  border-color: rgba(168, 116, 26, 0.8);
  background-color: transparent;
  color: var(--primary-color);
}

.banner-home {
  width: 100%;
  border-bottom: 1px solid rgba(160, 160, 160, 0.1);
}
.banner-home .home-box {
  width: 100%;
  height: 247px;
  margin: 0 auto;
  border-radius: 5px;
  background-image: url("../images/banner-home1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.banner-home .home-box .home-content {
  padding: 25px;
}
.banner-home .home-box .home-content p {
  font-size: 14px;
  color: var(--white-color);
}
.banner-home .home-box .home-content:not(:last-child) {
  margin-bottom: 10px;
}
.banner-home .home-box .home-content h3 {
  font-size: 24px;
  color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: 400;
  margin-bottom: 5px;
}
.banner-home .home-box:hover .home-content {
  transform: scale(1.1);
  transition: all 0.3s;
}
.banner-home .box-2 {
  background-image: url("../images/banner-home2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-home .box-3 {
  background-image: url("../images/banner-home3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-home .purchasenow {
  padding: 30px 0;
  font-size: 14px;
  text-align: center;
  color: var(--white-color);
  font-family: var(--font-stack);
}
.banner-home .purchasenow i {
  color: var(--primary-color);
  font-size: 18px;
}
.banner-home .purchasenow a {
  color: var(--primary-color);
}

.product {
  width: 100%;
  height: 100%;
}
.product img {
  width: 203px;
}
.product .sec-img {
  left: 15px;
  position: absolute;
  top: 15px;
  z-index: 1;
  opacity: 0;
}
.product .product-btn {
  margin-bottom: 40px;
}
.product .product-btn ul {
  list-style: none;
  display: flex;
  position: relative;
}
.product .product-btn ul li a {
  margin-left: -2px;
}
.product .product-btn ul li:hover .btn {
  border-color: rgba(168, 116, 26, 0.8);
  color: var(--primary-color);
}
.product .product-btn ul li .btn {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5;
  font-family: var(--font-family);
  color: var(--white-color);
  background-color: rgba(168, 116, 26, 0.8);
  border-radius: 3px;
  padding: 15px 40px;
  transition: all 0.3s;
  width: 182px;
  border: 2px solid rgba(168, 116, 26, 0.8);
}
.product .product-btn ul li .secondary-btn {
  border-color: rgba(168, 116, 26, 0.8);
  background-color: transparent;
  color: var(--primary-color);
}
.product .product-btn ul li .btn2 {
  border-color: rgba(160, 160, 160, 0.1);
  background-color: transparent;
  color: var(--white-color);
}
.product .product-btn ul::after, .product .product-btn ul::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 100%;
  background-color: rgba(160, 160, 160, 0.1);
  width: 170px;
  height: 2px;
}
.product .product-btn ul::before {
  left: 100%;
}

.products {
  display: flex;
  height: 100%;
}
.products .product-box {
  position: relative;
  padding: 15px;
  text-align: center;
  flex-direction: column;
  width: 239px;
  height: auto;
  margin: 0 5px;
  margin-bottom: 20px;
}
.products .product-box .quick {
  position: absolute;
  top: 170px;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 400;
  text-transform: capitalize;
}
.products .product-box .quick a {
  color: var(--white-color);
}
.products .product-box .quick.btn {
  background-color: #3e3e3e;
  border: none;
  height: 40px;
  width: 180px;
}
.products .product-box .pro-content {
  padding: 10px 10px 0;
  text-align: center;
  transition: all 0.3s;
}
.products .product-box .pro-content a {
  display: block;
  color: var(--secondary-color);
  font-size: 12px;
  margin-bottom: 10px;
}
.products .product-box .pro-content h3 {
  font-size: 15px;
  font-family: var(--font-family);
  color: var(--white-color);
  font-weight: 400;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.1);
}
.products .product-box .pro-content span {
  display: block;
  font-size: 18px;
  color: var(--primary-color);
}
.products .product-box .pro-hover {
  display: none;
  transition: all 0.2s ease;
  z-index: 2;
}
.products .product-box .pro-hover .star-box {
  color: var(--primary-color);
  font-size: 14px;
  margin-bottom: 10px;
}
.products .product-box .pro-hover .star-box .star {
  color: var(--secondary-color);
}
.products .product-box .pro-hover p {
  font-size: 13px;
  color: var(--secondary-color);
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.1);
  margin-bottom: 15px;
}
.products .product-box .pro-hover .box a {
  color: var(--white-color);
  background-color: rgba(160, 160, 160, 0.1);
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.4px;
  font-family: var(--font-family);
}
.products .product-box .pro-hover .box a i {
  font-size: 12px;
}
.products .product-box:hover .pro-content span {
  display: none;
}
.products:hover .product-box {
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.3);
}

.products:hover .pro-hover {
  display: block;
}
.products:hover .quick {
  opacity: 1;
}
.products .product-box:hover .quick.btn {
  background-color: var(--primary-color);
}
.products:hover .sec-img {
  opacity: 1;
}

.collection {
  width: 100%;
  height: 500px;
  background-image: url("../images/Collection.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.collection .collection-content {
  text-align: center;
  transition: all 0.3s;
}
.collection .collection-content span {
  display: block;
  color: var(--primary-color);
}
.collection .collection-content h2 {
  color: var(--white-color);
  font-size: 45px;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: var(--font-family);
}
.collection .collection-content p {
  color: var(--secondary-color);
}
.collection .collection-content a {
  margin-top: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.collection:hover .collection-content {
  transform: scale(1.1);
}

.news, .bestselling {
  width: 100%;
}
.news h2, .bestselling h2 {
  font-size: 24px;
  font-family: var(--font-family);
  color: var(--white-color);
  font-weight: 400;
  display: inline-block;
  padding-right: 20px;
  position: relative;
}
.news h2::after, .bestselling h2::after {
  position: absolute;
  content: "";
  width: 400%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  background-color: rgba(160, 160, 160, 0.1);
}
.news .arrow, .bestselling .arrow {
  margin-left: auto;
}
.news .arrow i, .bestselling .arrow i {
  color: var(--secondary-color);
  font-size: 13px;
}
.news .btn, .bestselling .btn {
  margin-bottom: 40px;
}
.news .btn ul, .bestselling .btn ul {
  list-style: none;
  display: flex;
  position: relative;
}
.news .btn ul li a, .bestselling .btn ul li a {
  margin-left: -2px;
}
.news .btn ul li:hover .btn, .bestselling .btn ul li:hover .btn {
  border-color: rgba(168, 116, 26, 0.8);
  color: var(--primary-color);
}
.news .btn ul li .btn, .bestselling .btn ul li .btn {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5;
  font-family: var(--font-family);
  color: var(--white-color);
  background-color: rgba(168, 116, 26, 0.8);
  border-radius: 3px;
  padding: 15px 40px;
  transition: all 0.3s;
  width: 182px;
  border: 2px solid rgba(168, 116, 26, 0.8);
}
.news .btn ul li .secondary-btn, .bestselling .btn ul li .secondary-btn {
  border-color: rgba(168, 116, 26, 0.8);
  background-color: transparent;
  color: var(--primary-color);
}
.news .btn ul li .btn2, .bestselling .btn ul li .btn2 {
  border-color: rgba(160, 160, 160, 0.1);
  background-color: transparent;
  color: var(--white-color);
}
.news .btn ul::after, .news .btn ul::before, .bestselling .btn ul::after, .bestselling .btn ul::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 100%;
  background-color: rgba(160, 160, 160, 0.1);
  width: 170px;
  height: 2px;
}
.news .btn ul::before, .bestselling .btn ul::before {
  left: 100%;
}
.news:hover .pro-hover, .bestselling:hover .pro-hover {
  display: block;
}
.news .products, .bestselling .products {
  display: flex;
  height: 100%;
}
.news .products img, .bestselling .products img {
  width: 203px;
}
.news .products .sec-img, .bestselling .products .sec-img {
  left: 15px;
  position: absolute;
  top: 15px;
  z-index: 1;
  opacity: 0;
}
.news .products .product-box, .bestselling .products .product-box {
  position: relative;
  padding: 15px;
  text-align: center;
  flex-direction: column;
  width: 239px;
  height: auto;
  margin: 0 5px;
  margin-bottom: 20px;
}
.news .products .product-box .quick, .bestselling .products .product-box .quick {
  position: absolute;
  top: 170px;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 400;
  text-transform: capitalize;
}
.news .products .product-box .quick a, .bestselling .products .product-box .quick a {
  color: var(--white-color);
}
.news .products .product-box .quick.btn, .bestselling .products .product-box .quick.btn {
  background-color: #3e3e3e;
  border: none;
  height: 40px;
  width: 180px;
}
.news .products .product-box .pro-content, .bestselling .products .product-box .pro-content {
  padding: 10px 10px 0;
  text-align: center;
  transition: all 0.3s;
}
.news .products .product-box .pro-content a, .bestselling .products .product-box .pro-content a {
  display: block;
  color: var(--secondary-color);
  font-size: 12px;
  margin-bottom: 10px;
}
.news .products .product-box .pro-content h3, .bestselling .products .product-box .pro-content h3 {
  font-size: 15px;
  font-family: var(--font-family);
  color: var(--white-color);
  font-weight: 400;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.1);
}
.news .products .product-box .pro-content span, .bestselling .products .product-box .pro-content span {
  display: block;
  font-size: 18px;
  color: var(--primary-color);
}
.news .products .product-box .pro-hover, .bestselling .products .product-box .pro-hover {
  display: none;
  transition: all 0.2s ease;
  z-index: 2;
}
.news .products .product-box .pro-hover .star-box, .bestselling .products .product-box .pro-hover .star-box {
  color: var(--primary-color);
  font-size: 14px;
  margin-bottom: 10px;
}
.news .products .product-box .pro-hover .star-box .star, .bestselling .products .product-box .pro-hover .star-box .star {
  color: var(--secondary-color);
}
.news .products .product-box .pro-hover p, .bestselling .products .product-box .pro-hover p {
  font-size: 13px;
  color: var(--secondary-color);
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.1);
  margin-bottom: 15px;
}
.news .products .product-box .pro-hover .box a, .bestselling .products .product-box .pro-hover .box a {
  color: var(--white-color);
  background-color: rgba(160, 160, 160, 0.1);
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.4px;
  font-family: var(--font-family);
}
.news .products .product-box .pro-hover .box a i, .bestselling .products .product-box .pro-hover .box a i {
  font-size: 12px;
}
.news .products .product-box:hover .pro-content span, .bestselling .products .product-box:hover .pro-content span {
  display: none;
}
.news .products:hover .pro-hover, .bestselling .products:hover .pro-hover {
  display: block;
}
.news .products:hover .quick, .bestselling .products:hover .quick {
  opacity: 1;
}
.news .products .product-box:hover .quick.btn, .bestselling .products .product-box:hover .quick.btn {
  background-color: var(--primary-color);
}
.news .products:hover .sec-img, .bestselling .products:hover .sec-img {
  opacity: 1;
}

.news {
  border-top: 1px solid #2d2d2d;
}
.news h2 {
  margin-bottom: 30px;
}
.news h2::after {
  width: 620%;
}
.news img {
  position: relative;
  width: 370px;
  height: 221px;
}
.news .overly {
  position: absolute;
  top: 0;
  left: 0;
  color: #a0a0a0;
}
.news .news-box {
  margin-top: 20px;
}
.news .news-box h3 {
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 400;
  text-transform: capitalize;
  color: var(--white-color);
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.news .news-box h3:hover {
  color: var(--primary-color);
}
.news .news-box span, .news .news-box a, .news .news-box p {
  font-size: 14px;
  font-family: var(--font-stack);
  color: var(--white-color);
  line-height: 26px;
}
.news .news-box a {
  color: var(--primary-color);
}
.news .news-box a span {
  color: #a0a0a0;
}
.news .news-box a:hover span {
  color: var(--primary-color);
}
.news .news-box p {
  color: #a0a0a0;
  margin-bottom: 10px;
}

/*# sourceMappingURL=section.css.map */
