:root {
  --bg-color: #212121;
  --primary-color: #a8741a;
  --primary-color-rgb: 168, 116, 26;
  --secondary-color: #a0a0a0;
  --secondary-color-rgb: 160, 160, 160;
  --white-color: #fff;
  --white-color-rgb: 255, 255, 255;
  --black-color: #000;
  --black-color-rgb: 0, 0, 0;
  --font-stack: Rubik;
  --font-family: Prata;
  --fs: 16px;
  --fw: 400;
  --flh: 1.5;
  --gutter-padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--white-color);
}

html, body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-size: var(--fs);
  line-height: var(--flh);
  font-weight: var(--fw);
  transition: all 0.3s ease;
}

* {
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

.container {
  width: 100%;
  padding-left: var(--gutter-padding);
  padding-right: var(--gutter-padding);
  margin: 0 auto;
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
@media (max-width: 1399px) {
  .container {
    width: 1140px;
  }
}
@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-stack);
  margin-left: -15px;
  margin-right: -15px;
}

.w-1 {
  width: 8.3333%;
}

.w-2 {
  width: 16.6666%;
}

.w-3 {
  width: 25%;
}

.w-4 {
  width: 33.3333%;
}

.w-5 {
  width: 41.6666%;
}

.w-6 {
  width: 50%;
}

.w-7 {
  width: 58.3333%;
}

.w-8 {
  width: 66.6666%;
}

.w-9 {
  width: 75%;
}

.w-10 {
  width: 83.3333%;
}

.w-11 {
  width: 91.6666%;
}

.w-12 {
  width: 100%;
}

.w-1, .w-2, .w-3, .w-4, .w-5, .w-6, .w-7, .w-8, .w-9, .w-10, .w-11, .w-12 {
  padding-left: var(--gutter-padding);
  padding-right: var(--gutter-padding);
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.top-bar {
  width: 100%;
  padding: 5px 50px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.1);
}
.top-bar .social ul {
  display: flex;
  list-style: none;
}
.top-bar .social ul li a {
  color: #ccc;
  padding: 5px 10px;
  display: block;
  font-family: var(--font-stack);
  font-size: 13px;
  background-color: rgba(160, 160, 160, 0.1);
  border-radius: 50%;
  transition: all 0.2s ease;
}
.top-bar .social ul li:not(:first-child) {
  margin-left: 5px;
}
.top-bar .social ul li a:hover {
  color: var(--white-color);
}
.top-bar .info ul {
  display: flex;
  list-style: none;
}
.top-bar .info ul li a {
  color: var(--white-color);
  padding: 12px 15px;
  display: block;
  font-family: var(--font-stack);
  font-size: 13px;
  position: relative;
  align-items: center;
  perspective: 1000px;
}
.top-bar .info ul li a i {
  margin-left: 8px;
}
.top-bar .info ul li a span {
  display: block;
  position: relative;
  padding-right: 20px;
}
.top-bar .info ul li a span::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translatey(-50%);
  right: 0;
  width: 2px;
  height: 15px;
  background-color: rgba(160, 160, 160, 0.1);
}
.top-bar .info ul li a:hover {
  color: var(--primary-color);
}
.top-bar .info ul .drop-down {
  position: relative;
}
.top-bar .info ul .drop-down .drop-down-menu {
  position: absolute;
  width: 200px;
  max-width: 250px;
  padding: 20px;
  opacity: 0;
  top: 180%;
  background-color: var(--bg-color);
  border: 1px solid rgba(160, 160, 160, 0.1);
  flex-direction: column;
  line-height: 2;
  font-size: 10px;
  z-index: 1;
  visibility: hidden;
}
.top-bar .info ul .drop-down .drop-down-menu li a {
  font-size: 13px;
  font-family: var(--font-family);
}
.top-bar .info ul .drop-down .drop2 {
  right: 0;
}
.top-bar .info ul .drop-down:hover .drop-down-menu {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.login-detail {
  width: 100%;
  padding: 35px 30px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.1);
}
.login-detail .call {
  display: flex;
  align-items: center;
}
.login-detail .call p {
  display: inline-block;
  color: var(--primary-color);
  font-size: 14px;
  padding-left: 10px;
}
.login-detail .logo {
  text-align: center;
}
.login-detail .logo img {
  width: 150px;
}
.login-detail .login {
  float: right;
}
.login-detail .login ul {
  display: flex;
  list-style: none;
}
.login-detail .login ul li a {
  color: var(--white-color);
  font-size: 17px;
  padding: 13px 15px;
  border: 1px solid rgba(160, 160, 160, 0.1);
  border-radius: 3px;
}
.login-detail .login ul li a span {
  display: inline-block;
  position: relative;
  padding-right: 0;
}
.login-detail .login ul li a span i {
  padding-right: 10px;
}
.login-detail .login ul li a span.price {
  font-size: 14px;
  padding-left: 7px;
}
.login-detail .login ul li a span.price i {
  padding-right: 0;
}
.login-detail .login ul li a span.price::after {
  display: none;
}
.login-detail .login ul li a span::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 20px;
  background-color: rgba(160, 160, 160, 0.1);
}
.login-detail .login ul li:not(:first-child) {
  margin-left: 15px;
}
.login-detail .login ul li a:hover {
  color: var(--primary-color);
}

.main-nav {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.1);
}
.main-nav .logo-sticky {
  display: none;
  margin-right: 30px;
}
.main-nav .logo-sticky a img {
  width: 120px;
}
.main-nav nav ul {
  display: flex;
  list-style: none;
}
.main-nav nav ul li a {
  color: var(--white-color);
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  transition: all 0.2s ease;
}
.main-nav nav ul li a i {
  font-size: 16px;
}
.main-nav nav ul li:not(:last-child) {
  padding-right: 30px;
}
.main-nav nav ul li .home {
  color: var(--primary-color);
}
.main-nav nav ul li a:hover {
  color: var(--primary-color);
}
.main-nav nav ul .drop-down {
  position: relative;
}
.main-nav nav ul .drop-down .drop-down-menu {
  position: absolute;
  width: 200px;
  max-width: 250px;
  padding: 20px;
  opacity: 1;
  top: 180%;
  transition: all 0.3s;
  background-color: var(--bg-color);
  border: 1px solid rgba(160, 160, 160, 0.1);
  flex-direction: column;
  line-height: 2;
  font-size: 10px;
  z-index: 1;
  visibility: hidden;
}
.main-nav nav ul .drop-down .drop-down-menu li a {
  font-size: 13px;
  font-family: var(--font-family);
  font-weight: 400;
}
.main-nav nav ul .drop-down:hover .drop-down-menu {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.mega {
  position: relative;
}

.mega-dropdown {
  position: absolute;
  width: 600px;
  top: 180%;
  display: flex;
  padding: 30px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  background-color: var(--bg-color);
  border: 1px solid rgba(160, 160, 160, 0.1);
  transition: all 0.3s ease;
}
.mega-dropdown .mega-items {
  width: 33.3333%;
}
.mega-dropdown .mega-items h4 {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  font-family: var(--font-family);
}
.mega-dropdown .mega-items ul {
  flex-direction: column;
}
.mega-dropdown .mega-items ul a {
  font-size: 13px;
  font-family: var(--font-stack);
  font-weight: 400;
}

.mega-menu:hover .mega-dropdown {
  opacity: 1;
  visibility: visible;
}

.mt-30 {
  margin-top: 30px;
}

.banner {
  width: 100%;
  position: relative;
}
.banner img {
  width: 100%;
  height: 100%;
}
.banner .banner-content {
  position: absolute;
  top: 20%;
  left: 15%;
}
.banner .banner-content span {
  display: block;
  color: var(--primary-color);
  font-family: var(--font-stack);
  font-size: 15px;
}
.banner .banner-content h1 {
  font-family: var(--font-family);
  font-size: 38px;
  color: var(--white-color);
  letter-spacing: 0px;
}
.banner .banner-content p {
  font-size: 15px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.banner .banner-content .start {
  font-size: 15px;
  color: var(--secondary-color);
  display: inline-block;
}
.banner .banner-content .rupees {
  font-size: 20px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 30px;
}
.banner .banner-content a {
  display: block;
}

.btn {
  font-size: 13px;
  font-weight: 500;
  color: var(--white-color);
  text-transform: uppercase;
  background-color: rgba(168, 116, 26, 0.8);
  border-radius: 3px;
  padding: 15px 40px;
  transition: all 0.3s;
  width: 182px;
  border: 2px solid rgba(168, 116, 26, 0.8);
}

.secondary-btn {
  border-color: rgba(168, 116, 26, 0.8);
  background-color: transparent;
  color: var(--primary-color);
}

.banner-home {
  width: 100%;
  border-bottom: 1px solid rgba(160, 160, 160, 0.1);
}
.banner-home .home-box {
  width: 100%;
  height: 247px;
  margin: 0 auto;
  border-radius: 5px;
  background-image: url("../images/banner-home1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.banner-home .home-box .home-content {
  padding: 25px;
}
.banner-home .home-box .home-content p {
  font-size: 14px;
  color: var(--white-color);
}
.banner-home .home-box .home-content:not(:last-child) {
  margin-bottom: 10px;
}
.banner-home .home-box .home-content h3 {
  font-size: 24px;
  color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: 400;
  margin-bottom: 5px;
}
.banner-home .home-box:hover .home-content {
  transform: scale(1.1);
  transition: all 0.3s;
}
.banner-home .box-2 {
  background-image: url("../images/banner-home2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-home .box-3 {
  background-image: url("../images/banner-home3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-home .purchasenow {
  padding: 30px 0;
  font-size: 14px;
  text-align: center;
  color: var(--white-color);
  font-family: var(--font-stack);
}
.banner-home .purchasenow i {
  color: var(--primary-color);
  font-size: 18px;
}
.banner-home .purchasenow a {
  color: var(--primary-color);
}

.product .product-btn {
  margin-bottom: 40px;
}
.product .product-btn ul {
  list-style: none;
  display: flex;
  position: relative;
}
.product .product-btn ul li a {
  margin-left: -2px;
}
.product .product-btn ul li:hover .btn {
  border-color: rgba(168, 116, 26, 0.8);
  color: var(--primary-color);
}
.product .product-btn ul li .btn {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5;
  font-family: var(--font-family);
  color: var(--white-color);
  background-color: rgba(168, 116, 26, 0.8);
  border-radius: 3px;
  padding: 15px 40px;
  transition: all 0.3s;
  width: 182px;
  border: 2px solid rgba(168, 116, 26, 0.8);
}
.product .product-btn ul li .secondary-btn {
  border-color: rgba(168, 116, 26, 0.8);
  background-color: transparent;
  color: var(--primary-color);
}
.product .product-btn ul li .btn2 {
  border-color: rgba(160, 160, 160, 0.1);
  background-color: transparent;
  color: var(--white-color);
}
.product .product-btn ul::after, .product .product-btn ul::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 100%;
  background-color: rgba(160, 160, 160, 0.1);
  width: 170px;
  height: 2px;
}
.product .product-btn ul::before {
  left: 100%;
}

.collection {
  width: 100%;
  height: 500px;
  background-image: url("../images/Collection.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.collection .collection-content {
  text-align: center;
  transition: all 0.3s;
}
.collection .collection-content span {
  display: block;
  color: var(--primary-color);
}
.collection .collection-content h2 {
  color: var(--white-color);
  font-size: 45px;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: var(--font-family);
}
.collection .collection-content p {
  color: var(--secondary-color);
}
.collection .collection-content a {
  margin-top: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.collection:hover .collection-content {
  transform: scale(1.1);
}

.news, .bestselling {
  width: 100%;
}
.news h2, .bestselling h2 {
  font-size: 24px;
  font-family: var(--font-family);
  color: var(--white-color);
  display: inline-block;
  padding-right: 20px;
  position: relative;
}
.news h2::after, .bestselling h2::after {
  position: absolute;
  content: "";
  width: 400%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  background-color: rgba(160, 160, 160, 0.1);
}
.news .arrow, .bestselling .arrow {
  margin-left: auto;
}
.news .arrow i, .bestselling .arrow i {
  color: var(--secondary-color);
  font-size: 13px;
}
.news .btn, .bestselling .btn {
  margin-bottom: 40px;
}
.news .btn ul, .bestselling .btn ul {
  list-style: none;
  display: flex;
  position: relative;
}
.news .btn ul li a, .bestselling .btn ul li a {
  margin-left: -2px;
}
.news .btn ul li:hover .btn, .bestselling .btn ul li:hover .btn {
  border-color: rgba(168, 116, 26, 0.8);
  color: var(--primary-color);
}
.news .btn ul li .btn, .bestselling .btn ul li .btn {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5;
  font-family: var(--font-family);
  color: var(--white-color);
  background-color: rgba(168, 116, 26, 0.8);
  border-radius: 3px;
  padding: 15px 40px;
  transition: all 0.3s;
  width: 182px;
  border: 2px solid rgba(168, 116, 26, 0.8);
}
.news .btn ul li .secondary-btn, .bestselling .btn ul li .secondary-btn {
  border-color: rgba(168, 116, 26, 0.8);
  background-color: transparent;
  color: var(--primary-color);
}
.news .btn ul li .btn2, .bestselling .btn ul li .btn2 {
  border-color: rgba(160, 160, 160, 0.1);
  background-color: transparent;
  color: var(--white-color);
}
.news .btn ul::after, .news .btn ul::before, .bestselling .btn ul::after, .bestselling .btn ul::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 100%;
  background-color: rgba(160, 160, 160, 0.1);
  width: 170px;
  height: 2px;
}
.news .btn ul::before, .bestselling .btn ul::before {
  left: 100%;
}
.news:hover .pro-hover, .bestselling:hover .pro-hover {
  display: block;
}
.news .products, .bestselling .products {
  display: flex;
  height: 100%;
  width: 239px;
  height: auto;
  margin: 0 5px;
  margin-bottom: 20px;
}
.news .products img, .bestselling .products img {
  width: 203px;
}
.news .products .sec-img, .bestselling .products .sec-img {
  left: 15px;
  position: absolute;
  top: 15px;
  z-index: 1;
  opacity: 0;
}
.news .products .product-box, .bestselling .products .product-box {
  position: relative;
  padding: 15px;
  text-align: center;
  flex-direction: column;
}
.news .products .product-box .quick, .bestselling .products .product-box .quick {
  position: absolute;
  top: 170px;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  text-transform: capitalize;
}
.news .products .product-box .quick a, .bestselling .products .product-box .quick a {
  color: var(--white-color);
}
.news .products .product-box .pro-content, .bestselling .products .product-box .pro-content {
  padding: 10px 10px 0;
  text-align: center;
  transition: all 0.3s;
}
.news .products .product-box .pro-content a, .bestselling .products .product-box .pro-content a {
  display: block;
  color: var(--secondary-color);
  font-size: 12px;
  margin-bottom: 10px;
}
.news .products .product-box .pro-content h3, .bestselling .products .product-box .pro-content h3 {
  font-size: 15px;
  font-family: var(--font-family);
  color: var(--white-color);
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.1);
}
.news .products .product-box .pro-content span, .bestselling .products .product-box .pro-content span {
  display: block;
  font-size: 18px;
  color: var(--primary-color);
}
.news .products .product-box .pro-hover, .bestselling .products .product-box .pro-hover {
  display: none;
  transition: all 0.2s ease;
  z-index: 2;
}
.news .products .product-box .pro-hover .star-box, .bestselling .products .product-box .pro-hover .star-box {
  color: var(--primary-color);
  font-size: 14px;
  margin-bottom: 10px;
}
.news .products .product-box .pro-hover .star-box .star, .bestselling .products .product-box .pro-hover .star-box .star {
  color: var(--secondary-color);
}
.news .products .product-box .pro-hover p, .bestselling .products .product-box .pro-hover p {
  font-size: 13px;
  color: var(--secondary-color);
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.1);
  margin-bottom: 15px;
}
.news .products .product-box .pro-hover .box a, .bestselling .products .product-box .pro-hover .box a {
  color: var(--white-color);
  background-color: rgba(160, 160, 160, 0.1);
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  font-size: 10px;
  letter-spacing: 0.4px;
  font-family: var(--font-family);
}
.news .products .product-box .pro-hover .box a i, .bestselling .products .product-box .pro-hover .box a i {
  font-size: 12px;
}
.news .products .product-box:hover, .bestselling .products .product-box:hover {
  background: #242424;
  border-radius: 3px;
  box-shadow: 0px 0 15px 0 rgba(0, 0, 0, 0.3);
}
.news .products .product-box:hover .pro-hover, .bestselling .products .product-box:hover .pro-hover {
  top: 100%;
  visibility: visible;
}
.news .products .product-box:hover .pro-content span, .bestselling .products .product-box:hover .pro-content span {
  display: none;
}
.news .products:hover .pro-hover, .bestselling .products:hover .pro-hover {
  display: block;
}
.news .products:hover .quick, .bestselling .products:hover .quick {
  opacity: 1;
}
.news .products .product-box:hover .quick.btn, .bestselling .products .product-box:hover .quick.btn {
  background-color: var(--primary-color);
}
.news .products:hover .sec-img, .bestselling .products:hover .sec-img {
  opacity: 1;
}

.news {
  border-top: 1px solid #2d2d2d;
}
.news h2 {
  margin-bottom: 30px;
}
.news h2::after {
  width: 620%;
}
.news img {
  width: 100%;
  display: block;
  height: 221px;
  margin-right: 0px !important;
}
.news img:active {
  color: #a0a0a0;
}
.news .overly-box {
  position: relative;
}
.news .overly-box .overly {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.3s ease;
}
.news .overly-box:hover .overly {
  opacity: 1;
}
.news .news-box {
  margin-top: 20px;
}
.news .news-box h3 {
  font-size: 18px;
  font-family: var(--font-family);
  text-transform: capitalize;
  color: var(--white-color);
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.news .news-box h3:hover {
  color: var(--primary-color);
}
.news .news-box span, .news .news-box a, .news .news-box p {
  font-size: 14px;
  font-family: var(--font-stack);
  color: var(--white-color);
  line-height: 26px;
}
.news .news-box a {
  color: var(--primary-color);
}
.news .news-box a span {
  color: #a0a0a0;
}
.news .news-box a:hover span {
  color: var(--primary-color);
}
.news .news-box p {
  color: #a0a0a0;
  margin-bottom: 10px;
}

.newsletter {
  margin-bottom: 30px;
}
.newsletter h2 {
  color: var(--white-color);
  font-family: var(--font-family);
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.newsletter p {
  font-size: 14px;
  color: #a0a0a0;
  margin-bottom: 35px;
}

form {
  margin-bottom: 35px;
}
form .email, form .submit {
  display: inline-block;
  margin-right: 6px;
  padding: 10px 20px;
  border: 0;
  line-height: 30px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid #292929;
  color: #a0a0a0;
  font-size: 12px;
  font-weight: 400;
  width: 500px;
  background: transparent;
}
form .submit {
  padding: 0 60px;
  background: #2e2e2e;
  font-family: var(--font-family);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  width: 200px;
  margin-right: 0px;
}

.sub-banner {
  padding-bottom: 50px;
}
.sub-banner .row {
  margin: 0px;
}
.sub-banner .trending, .sub-banner .pretium {
  width: 50%;
  height: 300px;
  background-image: url("../images/Perfume  (1).jpg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.sub-banner .trending .pretium-content, .sub-banner .pretium .pretium-content {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  text-align: center;
  transition: all 0.3s ease;
}
.sub-banner .trending .pretium-content span, .sub-banner .pretium .pretium-content span {
  display: block;
  color: var(--white-color);
  font-size: 14px;
  margin-bottom: 10px;
}
.sub-banner .trending .pretium-content h2, .sub-banner .pretium .pretium-content h2 {
  font-size: 30px;
  color: var(--primary-color);
  font-family: var(--font-family);
  margin-bottom: 10px;
}
.sub-banner .trending .pretium-content p, .sub-banner .pretium .pretium-content p {
  color: var(--white-color);
}
.sub-banner .trending .pretium-content a, .sub-banner .pretium .pretium-content a {
  margin-top: 25px;
  color: var(--primary-color);
  font-size: 14px;
  text-decoration: underline;
  text-decoration-color: #a0a0a0;
}
.sub-banner .trending .pretium-content:hover, .sub-banner .pretium .pretium-content:hover {
  transform: scale(1.1);
}
.sub-banner .trending {
  background-image: url("../images/watch.jpg");
}

.products {
  width: 240px;
  height: 371px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 3px 3px;
  margin-bottom: 20px;
}
.products .product-box {
  position: relative;
  padding: 15px;
  height: auto;
  text-align: center;
}
.products .product-box img {
  width: 203px;
}
.products .product-box .sec-img {
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0;
}
.products .product-box .sec-img:hover {
  opacity: 1;
}
.products .product-box .quick {
  position: absolute;
  top: 170px;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  text-transform: capitalize;
  background-color: #3e3e3e;
  border: none;
  height: 40px;
  width: 180px;
}
.products .product-box .quick a {
  color: var(--white-color);
}
.products .product-box .pro-content {
  padding: 10px 10px 0;
  text-align: center;
  transition: all 0.3s;
}
.products .product-box .pro-content a {
  display: block;
  color: var(--secondary-color);
  font-size: 12px;
  margin-bottom: 10px;
}
.products .product-box .pro-content a:hover {
  color: var(--primary-color);
}
.products .product-box .pro-content h3 {
  font-size: 15px;
  font-family: var(--font-family);
  color: var(--white-color);
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.1);
}
.products .product-box .pro-content h3:hover {
  color: var(--primary-color);
}
.products .product-box .pro-content span {
  display: block;
  font-size: 18px;
  color: var(--primary-color);
}
.products .product-box .pro-hover {
  display: none;
  z-index: 2;
}
.products .product-box .pro-hover .star-box {
  color: var(--primary-color);
  font-size: 14px;
  margin-bottom: 10px;
}
.products .product-box .pro-hover .star-box .star {
  color: var(--secondary-color);
}
.products .product-box .pro-hover p {
  font-size: 13px;
  color: var(--secondary-color);
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.1);
  margin-bottom: 15px;
}
.products .product-box .pro-hover .box a {
  color: var(--white-color);
  background-color: rgba(160, 160, 160, 0.1);
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  font-size: 10px;
  letter-spacing: 0.4px;
  font-family: var(--font-family);
}
.products .product-box .pro-hover .box a i {
  font-size: 12px;
}
.products .product-box .pro-hover .box a:hover {
  background-color: var(--primary-color);
}
.products .product-box:hover {
  background: #242424;
  border-radius: 3px;
  box-shadow: 0px 0 15px 0 rgba(0, 0, 0, 0.3);
}
.products .product-box:hover .pro-hover {
  display: block;
}
.products .product-box:hover .pro-content span {
  display: none;
}
.products .product-box:hover .quick {
  opacity: 1;
}
.products .product-box:hover .quick:hover.btn {
  background-color: var(--primary-color);
}

footer {
  border-top: 1px solid #2d2d2d;
  padding-top: 60px;
  padding-bottom: 50px;
}
footer .detail-1 {
  margin-bottom: 20px;
}
footer .detail-1 h4 {
  font-size: 20px;
  color: var(--white-color);
  font-family: var(--font-family);
  padding-bottom: 25px;
}
footer .detail-1 span {
  font-size: 14px;
  color: #a0a0a0;
  margin-bottom: 10px;
  display: block;
}
footer .detail-1 .social-icon {
  display: flex;
  list-style: none;
}
footer .detail-1 .social-icon li {
  margin-right: 10px;
}
footer .detail-1 .social-icon li a {
  width: 37px;
  height: 37px;
  background-color: #2f2f2f;
  border-radius: 50%;
  color: #a0a0a0;
  text-align: center;
  line-height: 37px;
  display: block;
}
footer .detail-1 .link {
  list-style: none;
}
footer .detail-1 .link li {
  margin-bottom: 5px;
}
footer .detail-1 .link li a {
  font-size: 14px;
  color: #a0a0a0;
}
footer .detail-1 .link li a:hover {
  color: var(--primary-color);
}
footer .detail-1 .rate .w-3 {
  padding: 0px;
  width: 78px;
  height: 78px;
}
footer .detail-1 .rate .footer-content a {
  font-size: 14px;
  color: #a0a0a0;
  margin-bottom: 5px;
}
footer .detail-1 .rate .footer-content h5 {
  font-size: 16px;
  margin-bottom: 10px;
}
footer .detail-1 .rate .footer-content .rupee {
  color: var(--primary-color);
  margin-bottom: 10px;
  font-weight: 500;
}
footer .detail-1 .border {
  border-bottom: 1px solid #2d2d2d;
  margin-bottom: 15px;
}
footer .contact {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  border-top: 1px solid #323232;
  border-bottom: 1px solid #323232;
  margin-bottom: 40px;
}
footer .contact li {
  margin: 0 20px;
}
footer .contact li a {
  color: #a0a0a0;
  font-size: 16px;
  font-family: var(--font-family);
}
footer .contact li a:hover {
  color: var(--primary-color);
}
footer .copyright p {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #a0a0a0;
  margin-bottom: 10px;
}
footer .copyright p a {
  color: var(--primary-color);
}
footer .copyright img {
  display: block;
  margin: 5px auto;
}

/* fix-header */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding: 15px 0px;
  background: rgba(54, 63, 77, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
  transition: all 0.5s;
}

/* backtotop */
.backtotop {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 100px;
  right: 30px;
  z-index: 10;
  border-radius: 3px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

.backtotop::before {
  position: absolute;
  content: "\f102";
  font-family: "FontAwesome";
  font-weight: 400;
  font-size: 13px;
  display: block;
  color: var(--white-color);
  transform: rotate(-45deg);
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .w-xxl-1 {
    width: 8.3333%;
  }
  .w-xxl-2 {
    width: 16.6666%;
  }
  .w-xxl-3 {
    width: 25%;
  }
  .w-xxl-4 {
    width: 33.3333%;
  }
  .w-xxl-5 {
    width: 41.6666%;
  }
  .w-xxl-6 {
    width: 50%;
  }
  .w-xxl-7 {
    width: 58.3333%;
  }
  .w-xxl-8 {
    width: 66.6666%;
  }
  .w-xxl-9 {
    width: 75%;
  }
  .w-xxl-10 {
    width: 83.3333%;
  }
  .w-xxl-11 {
    width: 91.6666%;
  }
  .w-xxl-12 {
    width: 100%;
  }
  .justify-xxl-start {
    justify-content: flex-start;
  }
  .justify-xxl-center {
    justify-content: center;
  }
  .justify-xxl-end {
    justify-content: flex-end;
  }
  .justify-xxl-between {
    justify-content: space-between;
  }
  .justify-xxl-around {
    justify-content: space-around;
  }
  .justify-xxl-evenly {
    justify-content: space-evenly;
  }
  .items-xxl-start {
    align-items: flex-start;
  }
  .items-xxl-center {
    align-items: center;
  }
  .items-xxl-end {
    align-items: flex-end;
  }
}
@media (max-width: 1399px) {
  .container {
    width: 1140px;
  }
  .w-xl-1 {
    width: 8.3333%;
  }
  .w-xl-2 {
    width: 16.6666%;
  }
  .w-xl-3 {
    width: 25%;
  }
  .w-xl-4 {
    width: 33.3333%;
  }
  .w-xl-5 {
    width: 41.6666%;
  }
  .w-xl-6 {
    width: 50%;
  }
  .w-xl-7 {
    width: 58.3333%;
  }
  .w-xl-8 {
    width: 66.6666%;
  }
  .w-xl-9 {
    width: 75%;
  }
  .w-xl-10 {
    width: 83.3333%;
  }
  .w-xl-11 {
    width: 91.6666%;
  }
  .w-xl-12 {
    width: 100%;
  }
  .justify-xl-start {
    justify-content: flex-start;
  }
  .justify-xl-center {
    justify-content: center;
  }
  .justify-xl-end {
    justify-content: flex-end;
  }
  .justify-xl-between {
    justify-content: space-between;
  }
  .justify-xl-around {
    justify-content: space-around;
  }
  .justify-xl-evenly {
    justify-content: space-evenly;
  }
  .items-xl-start {
    align-items: flex-start;
  }
  .items-xl-center {
    align-items: center;
  }
  .items-xl-end {
    align-items: flex-end;
  }
  .bestselling h2::after {
    width: 330%;
  }
  .news h2 {
    margin-bottom: 0px;
  }
  .news h2::after {
    width: 520%;
  }
  .toggle {
    display: none;
  }
  .main-nav {
    display: block;
  }
}
@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .w-lg-1 {
    width: 8.3333%;
  }
  .w-lg-2 {
    width: 16.6666%;
  }
  .w-lg-3 {
    width: 25%;
  }
  .w-lg-4 {
    width: 33.3333%;
  }
  .w-lg-5 {
    width: 41.6666%;
  }
  .w-lg-6 {
    width: 50%;
  }
  .w-lg-7 {
    width: 58.3333%;
  }
  .w-lg-8 {
    width: 66.6666%;
  }
  .w-lg-9 {
    width: 75%;
  }
  .w-lg-10 {
    width: 83.3333%;
  }
  .w-lg-11 {
    width: 91.6666%;
  }
  .w-lg-12 {
    width: 100%;
  }
  .justify-lg-start {
    justify-content: flex-start;
  }
  .justify-lg-center {
    justify-content: center;
  }
  .justify-lg-end {
    justify-content: flex-end;
  }
  .justify-lg-between {
    justify-content: space-between;
  }
  .justify-lg-around {
    justify-content: space-around;
  }
  .justify-lg-evenly {
    justify-content: space-evenly;
  }
  .items-lg-start {
    align-items: flex-start;
  }
  .items-lg-center {
    align-items: center;
  }
  .items-lg-end {
    align-items: flex-end;
  }
  .banner .banner-content p {
    margin-bottom: 10px;
  }
  .banner .banner-content .rupees {
    margin-bottom: 20px;
  }
  .banner .btn {
    font-size: 12px;
    width: 150px;
    padding: 15px 25px;
  }
  .bestselling h2::after {
    width: 260%;
  }
  .news h2::after {
    width: 420%;
  }
  footer .contact li a {
    font-size: 13px;
  }
  footer .detail-1 .border {
    border: none;
  }
  .toggle {
    display: block;
  }
  .login-detail .login ul {
    align-items: center;
  }
  .login-detail {
    padding: 15px 30px;
  }
  .main-nav {
    display: none;
  }
}
@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .w-md-0 {
    width: 0%;
  }
  .w-md-1 {
    width: 8.3333%;
  }
  .w-md-2 {
    width: 16.6666%;
  }
  .w-md-3 {
    width: 25%;
  }
  .w-md-4 {
    width: 33.3333%;
  }
  .w-md-5 {
    width: 41.6666%;
  }
  .w-md-6 {
    width: 50%;
  }
  .w-md-7 {
    width: 58.3333%;
  }
  .w-md-8 {
    width: 66.6666%;
  }
  .w-md-9 {
    width: 75%;
  }
  .w-md-10 {
    width: 83.3333%;
  }
  .w-md-11 {
    width: 91.6666%;
  }
  .w-md-12 {
    width: 100%;
  }
  .justify-md-start {
    justify-content: flex-start;
  }
  .justify-md-center {
    justify-content: center;
  }
  .justify-md-end {
    justify-content: flex-end;
  }
  .justify-md-between {
    justify-content: space-between;
  }
  .justify-md-around {
    justify-content: space-around;
  }
  .justify-md-evenly {
    justify-content: space-evenly;
  }
  .items-md-start {
    align-items: flex-start;
  }
  .items-md-center {
    align-items: center;
  }
  .items-md-end {
    align-items: flex-end;
  }
  .banner .banner-content {
    top: 10%;
  }
  .banner .banner-content h1 {
    font-size: 26px;
  }
  .login-detail .call {
    display: none;
  }
  .login-detail .logo {
    text-align: left;
  }
  .login-detail .login ul li a span.price {
    display: none;
  }
  .login-detail .login ul li a span::after {
    display: none;
  }
  .login-detail .login ul li a span i {
    padding-right: 0;
  }
  .login-detail .login ul li a {
    border: none;
    padding: 13px 8px;
  }
  .login {
    margin-left: auto;
  }
  .bestselling h2::after {
    width: 165%;
  }
  .news h2::after {
    width: 280%;
  }
  form .email {
    width: 300px;
    margin: 0;
  }
  form .submit {
    width: 120px;
    padding: 0;
    font-size: 13px;
  }
  .sub-banner .trending .pretium-content h2, .sub-banner .pretium .pretium-content h2 {
    font-size: 24px;
  }
  .top-bar {
    display: block;
  }
  .product .product-btn ul::before, .product .product-btn ul::after {
    display: none;
  }
  .banner-home .purchasenow {
    font-size: 11px;
  }
  .banner-home .purchasenow i {
    font-size: 14px;
  }
  .product .product-btn ul li .btn {
    font-size: 12px;
    padding: 12px 28px;
    letter-spacing: 0.5px;
  }
  footer .contact {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .w-sm-1 {
    width: 8.3333%;
  }
  .w-sm-2 {
    width: 16.6666%;
  }
  .w-sm-3 {
    width: 25%;
  }
  .w-sm-4 {
    width: 33.3333%;
  }
  .w-sm-5 {
    width: 41.6666%;
  }
  .w-sm-6 {
    width: 50%;
  }
  .w-sm-7 {
    width: 58.3333%;
  }
  .w-sm-8 {
    width: 66.6666%;
  }
  .w-sm-9 {
    width: 75%;
  }
  .w-sm-10 {
    width: 83.3333%;
  }
  .w-sm-11 {
    width: 91.6666%;
  }
  .w-sm-12 {
    width: 100%;
  }
  .justify-sm-start {
    justify-content: flex-start;
  }
  .justify-sm-center {
    justify-content: center;
  }
  .justify-sm-end {
    justify-content: flex-end;
  }
  .justify-sm-between {
    justify-content: space-between;
  }
  .justify-sm-around {
    justify-content: space-around;
  }
  .justify-sm-evenly {
    justify-content: space-evenly;
  }
  .items-sm-start {
    align-items: flex-start;
  }
  .items-sm-center {
    align-items: center;
  }
  .items-sm-end {
    align-items: flex-end;
  }
  .banner {
    height: 300px;
  }
  .banner .banner-content {
    top: 15%;
  }
  .collection .collection-content h2 {
    font-size: 36px;
  }
  .collection .collection-content a {
    margin-top: 30px;
  }
  .collection {
    height: 300px;
  }
  .bestselling h2::after {
    width: 100%;
  }
  .news h2::after {
    width: 180%;
  }
  .sub-banner .trending, .sub-banner .pretium {
    width: 100%;
  }
  footer .contact li a {
    font-size: 14px;
  }
  footer .top-detail, footer .myaccount {
    display: none;
  }
  .top-bar {
    display: none;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
    --gutter-padding: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
